p {
  line-height: 1.5;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
}

h4 {
  margin-top: 40px;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
}

.post > h2 {
  margin: 0;
  padding: 0;
}

/* Your Code Goes Under This Line */

div.full {
  background-color: black;
  border: 5px;
  border-radius: 200px;
  border-color: black;
  border-style: solid;
  height: 200px;
  width: 200px;
}

div.outline {
  border: 2px;
  border-radius: 200px;
  border-color: black;
  border-style: solid;
  height: 200px;
  width: 200px;
}

.post {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
